* {
	/*background-color: #151515;*/
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 10px 100px;
	background-color: #151515;
	min-height: 100vh;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 10px;
}

header img {
	width: 100px;
	height: 56px;
}

header a {
	line-height: 50px;
	text-decoration: none;
}

header a:hover {
	transition: all 0.2s;
	border-bottom: solid 4px white;
}

h1 {
	text-align: center;
	text-decoration: underline;
	font-size: 50px;
	margin: 20px;
}

h2 {
	text-align: center;
	padding: 20px;
}

.informationsdeprofil {
	background-color: #2a2a2a;
	width: 70%;
	margin: 40px auto;
	padding: 10px 0;
}

.infoavatar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 10%;
}

.infotext {
}

.infotext p {
	margin: 0 0;
	font-size: large;
}
.imgavatar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.imgavatar img {
	border-radius: 50%;
	margin: 10px;
}

input {
	background-color: #151515;
	border: none;
	padding: 12px 5px;
	margin-top: 2px;
}

.label-file {
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	margin-top: 10px;
}
.label-file:hover {
	color: #25a5c4;
}

/* et on masque le input*/
.input-file {
	display: none;
}

.infotext p {
	margin-top: 15px;
	margin-bottom: 2px;
}

#avatar {
	width: 200px;
	height: 200px;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 20px 0;
}

button {
	background-color: #151515;
	padding: 10px 10px 10px 10px;
	margin: 2px 0;
	margin-bottom: 5px;
	height: 40px;
	border: none;
	font-size: 15px;
	font-weight: bold;
	transition: 0.5s;
}

button:hover {
	transition: all 0.5s;
	/*border-bottom: solid 3px #ffffff;*/
	color: #151515;
	background-color: #ffffff;
	box-shadow: 0 0 1em #fff;
}
.buttonsphotovideos {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.buttonsphotovideos a {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	border: 2px solid #2a2a2a;
	margin: 40px;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	letter-spacing: 3px;
	color: #fff;
	/*-webkit-box-reflect: below 0px linear-gradient(transparent, #151517);*/
	transition: 0.5s;
	transition-delay: 0s;
}

.buttonsphotovideos a:hover {
	transition-delay: 1.5s;
	color: #fff;
	box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
}

.buttonsphotovideos a span {
	position: relative;
	z-index: 100;
}

.buttonsphotovideos a::before {
	content: "";
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: #2a2a2a;
	box-shadow: 5px -8px 0 #2a2a2a, 5px 8px 0 #2a2a2a;
	transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
	transition-delay: 1s, 0.5s, 0s, 0s;
}

.buttonsphotovideos a:hover::before {
	width: 60%;
	height: 100%;
	left: -2px;
	box-shadow: 5px 0 0 #2a2a2a, 5px 0 0 #2a2a2a;
	transition-delay: 0s, 0.5s, 1s, 1s;
}

.buttonsphotovideos a::after {
	content: "";
	position: absolute;
	right: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: #2a2a2a;
	box-shadow: -5px -8px 0 #2a2a2a, -5px 8px 0 #2a2a2a;
	transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
	transition-delay: 1s, 0.5s, 0s, 0s;
}

.buttonsphotovideos a:hover::after {
	width: 60%;
	height: 100%;
	right: -2px;
	box-shadow: -5px 0 0 #2a2a2a, -5px 0 0 #2a2a2a;
	transition-delay: 0s, 0.5s, 1s, 1s;
}

.poste img {
}

.poste {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px auto;
}

.block4 img {
	width: 100px;
	height: 56px;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: small;
	background-color: #2a2a2a;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 100px;
	width: 100%;
	height: 100px;
}

h4 {
	margin: 10px;
}

h4:hover {
	text-decoration: underline;
}

@media (max-width: 1280px) {
	.infoavatar {
		display: flex;
		flex-direction: column;
		margin: 0 10%;
	}
	body {
		margin: 10px 10px;
	}
	.informationsdeprofil {
		width: 90%;
	}
}

@media (max-width: 700px) {
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
	}
	body {
		margin: 10px 10px;
	}
	.informationsdeprofil {
		width: 100%;
	}
}
